@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
::-webkit-scrollbar {
  display: none; /* Internet Explorer and Edge */
}