@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
::-webkit-scrollbar {
  display: none; /* Internet Explorer and Edge */
}

.page-min-h {
  min-height: calc(100vh - 136px);
}

.page-min-h-sm {
  min-height: calc(100vh - 171.2px);
}

.animate-scroll {
  animation: scroll 25s linear infinite alternate;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw - 0.75rem));
  }
}