@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
::-webkit-scrollbar {
  display: none; /* Internet Explorer and Edge */
}

.sidebar-min-height {
  /* 
  total height of the page - height of header - height of bottomMenu
  100vh - 140px - 42.2px
  */
  min-height: calc(100vh - 182.2px);
}

.animate-scroll {
  animation: scroll 25s linear infinite alternate;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw - 0.75rem));
  }
}

@media (min-width: 435px) {
  .sidebar-min-height {
    /* 
  total height of the page - height of header - height of bottomMenu
  100vh - 140px - 60px
  */
    min-height: calc(100vh - 200px);
  }
}
@media (min-width: 565px) {
  .sidebar-min-height {
    /* 
  total height of the page - height of header
  100vh - 140px 
  */
    min-height: calc(100vh - 140px);
  }
}
@media (min-width: 685px) {
  .sidebar-min-height {
    /* 
  total height of the page - height of header
  100vh - 171.2px
  */
    min-height: calc(100vh - 171.2px);
  }
}
